{% extends "default.html" %}   <!--Detailansicht erweitert das Defaullayout-->

{% block header %}
    <!--Einbinden zusätzlicher Skripte für QR-Code und Graphen sowie CSS Referenz-->
    <title>{{ generalData['name'] }} - Details</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/qrcodeGenerator.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/details.css') }}">
{% endblock %}

{% block content %}
<div class="container my-5">
    <!--Seitenüberschrift und Zurückbutton anlegen-->
    <div class="row">
        <div class="col-md-4">
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Zurück zur Übersicht</a>
        </div>
        <div class="col-md-4">
            <h1 >{{ generalData['name'] }}</h1>
        </div>
    </div>

    <!--Steckbriefdaten und Bild anlegen-->
    <div class="row align-items-stretch">  
        <div class="col-md-4">
            <div class="card h-100 d-flex">
                <img src="{{ url_for('static', filename='images/' + generalData['mac']|replace(':', '')|lower + '.png') }}" class="card-img-top" alt="Bild der Pflanze">
            </div>
        </div>
        <div class="col-md-8">
            <ul class="list-group h-100 d-flex">
                <li class="list-group-item"><strong>MAC-Adresse:</strong> {{ generalData['mac'] }}</li>
                <li class="list-group-item"><strong>IP-Adresse:</strong> {{ generalData['ip'] }}</li>
                <li class="list-group-item"><strong>Temperaturbereich:</strong> {{ generalData['tem_min'] }} - {{ generalData['tem_max'] }} °C</li>
                <li class="list-group-item"><strong>Sonnenintensität:</strong> {{ generalData['sunInt_min'] }} - {{ generalData['sunInt_max'] }} %</li>
                <li class="list-group-item"><strong>Bodenfeuchtigkeit:</strong> {{ generalData['moisture_min'] }} - {{ generalData['moisture_max'] }} %</li>
                <li class="list-group-item"><strong>Luftfeuchtigkeit:</strong> {{ generalData['air_min'] }} - {{ generalData['air_max'] }} %</li>
                <li class="list-group-item"><strong>Gepflanzt am:</strong> {{ generalData['planted'] }}</li>
                <li class="list-group-item"><strong>Zuletzt gegossen:</strong> {{ generalData['pour'] }}</li>
                <li class="list-group-item"><strong>Standort:</strong> {{ generalData['place'] }}</li>
            </ul>
        </div>
    </div>
    
    <!--Wasserstandanzeige und manuelle Bewässerung anlegen-->
    <div class="row my-5">
        <div class="col-md-12 d-flex align-items-center">
            <p class="water-level-text me-3"><strong>Wasserstand:</strong></p>
            <div class="water-tank-bar">
                <div class="water-fill" style="width: {{ measurementDataNow['waterlevel'] }}%;"></div>
            </div>
            <span class="water-percentage ms-3">{{ measurementDataNow['waterlevel'] }}%</span>
            <button id="manualWaterButton" class="btn btn-primary ms-4">Manuell bewässern</button>
          
        </div>
    </div>
    
    <!--Livedatenfelder anlegen-->
    <div class="row my-4 text-center">
        <div class="col-md-3">
            <div class="card temperature-card custom-card mb-3">
                <div class="card-header"><strong>Aktuelle Temperatur</strong></div>
                <div class="card-body">
                    <h5 class="card-title">{{ measurementDataNow['Temp'] }} °C</h5>
                    <p class="card-text text-white">{{ measurementDataNow['zeitstempel'].strftime('%d.%m.%Y %H:%M') }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card humidity-card custom-card mb-3">
                <div class="card-header"><strong>Aktuelle Luftfeuchtigkeit</strong></div>
                <div class="card-body">
                    <h5 class="card-title">{{ measurementDataNow['air'] }} %</h5>
                    <p class="card-text text-white">{{ measurementDataNow['zeitstempel'].strftime('%d.%m.%Y %H:%M') }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card moisture-card custom-card mb-3">
                <div class="card-header"><strong>Aktuelle Bodenfeuchtigkeit</strong></div>
                <div class="card-body">
                    <h5 class="card-title">{{ measurementDataNow['ground'] }} %</h5>
                    <p class="card-text text-white">{{ measurementDataNow['zeitstempel'].strftime('%d.%m.%Y %H:%M') }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card sun-card custom-card mb-3">
                <div class="card-header"><strong>Aktuelle Sonnenintensität</strong></div>
                <div class="card-body">
                    <h5 class="card-title">{{ measurementDataNow['sun'] }} %</h5>
                    <p class="card-text text-white">{{ measurementDataNow['zeitstempel'].strftime('%d.%m.%Y %H:%M') }}</p>
                </div>
            </div>
        </div>
    </div>

    <!--Bereich für die Graphen festlegen-->
    <div class="row mt-5">
        <div class="col-md-6">
            <canvas id="temperatureChart"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="humidityChart"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="moistureChart"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="sunItensityChart"></canvas>
        </div>
    </div>
    
    <!--QR-Codefeld anlegen-->
    <div class="row mt-5">
        <div class="col-md-12 d-flex align-items-center">
            <div class="ms-5" id="qrCodeContainer"></div>
        </div>
    </div>
</div>

<script>
    //Übergabeparameter measurementDataHist etc.(Übergebenes Python-Dictonary) in JSON-Format konvertieren (Jinja-Filter) und in JavaScript-Variable abspeichern
    const measurementDataHist = {{ measurementDataHist | tojson }};
    const measurementDataNow = {{ measurementDataNow | tojson }};
    const generalData = {{ generalData | tojson }};

    // ----------------------------------Hilfsfunktionen --------------------------------------

     //Funktion, welche den Durschnitt der übergebenen Werte bildet
    function average(values) {
        return values.reduce((sum, val) => sum + val, 0) / values.length;
    }

    //Funktion, welche die Farben der Live-Datenkästen auf Basis der Grenzwerte bestimmt
    function setCardColor(value, min, max) {
        const range = max - min;
        const tenPercentRange = range * 0.1; //10% Abweichung bestimmen
        if (value < min - tenPercentRange || value > max + tenPercentRange) {
            return "bg-danger"; //gelbe Farbe bei 10% Abweichung vom Optimalwert
        } else if (value < min || value > max) {
            return "bg-warning"; //rote Farbe
        } else {
            return "bg-success"; //grüne Farbe
        }
    }

    // Funktion zum Aggregieren von Daten pro Stunde
    function filterDataForDayAndNight(data) {
        const aggregatedData = [];
        const aggregatedLabels = [];
        const hourlyGroups = {};

        // Daten nach Stunde gruppieren
        data.forEach(entry => {
            const timestamp = new Date(entry.zeitstempel); //Gesamtzeitstempel speichern
            const hourKey = `${timestamp.getUTCFullYear()}-${timestamp.getUTCMonth() + 1}-${timestamp.getUTCDate()} ${timestamp.getUTCHours()}`; //nur Datum und Stunde von Zeitstempel speichern

            //neuen Arrayeintrag für die Stunde anfügen, falls die Stunde noch nicht enthalten ist
            if (!hourlyGroups[hourKey]) {
                hourlyGroups[hourKey] = {
                    Temp: [],
                    air: [],
                    ground: [],
                    sun: [],
                };
            }

            //Datenpunkt in den jeweiligen Arrayfall nach Stunde gruppieren
            hourlyGroups[hourKey].Temp.push(entry.Temp);
            hourlyGroups[hourKey].air.push(entry.air);
            hourlyGroups[hourKey].ground.push(entry.ground);
            hourlyGroups[hourKey].sun.push(entry.sun);
        });

        // Fehlende Stunden füllen
        const startTimestamp = new Date(data[0].zeitstempel);
        const endTimestamp = new Date(data[data.length - 1].zeitstempel);

        // Label und Daten pro Stunde abspeichern. Label nur alle 6 Stunden konkret abspeichern, sonst Leerzeichen
        for (let d = new Date(startTimestamp); d <= endTimestamp; d.setHours(d.getHours() + 1)) {
            const hourKey = `${d.getUTCFullYear()}-${d.getUTCMonth() + 1}-${d.getUTCDate()} ${d.getUTCHours()}`; //Zeitstempel ohne Stundeneinheit
            const label = `${d.getUTCFullYear()}-${d.getUTCMonth() + 1}-${d.getUTCDate()} ${d.getUTCHours()}h`; //Zeitstempel mit Stundeneinheit
            
            // Prüfe, ob der Zeitpunkt eine Markierung benötigt (z.B. 00:00 oder 12:00)
            if (d.getUTCHours() === 0 || d.getUTCHours() === 12 || d.getUTCHours() === 6 || d.getUTCHours() === 18) {
                aggregatedLabels.push(label); // Speichert das Label 
            } else {
                aggregatedLabels.push(""); // Fügt ein leeres Label hinzu
            }
            
            // Durchschnittswerte werden für jede Stunde berechnet, unabhängig vom Label
            if (hourlyGroups[hourKey]) {
                aggregatedData.push({
                    Temp: average(hourlyGroups[hourKey].Temp),
                    air: average(hourlyGroups[hourKey].air),
                    ground: average(hourlyGroups[hourKey].ground),
                    sun: average(hourlyGroups[hourKey].sun),
                });
            } else { //kein Wert für die Stunde in DB --> null-Werte speichern
                aggregatedData.push({
                    Temp: null,
                    air: null,
                    ground: null,
                    sun: null,
                    });
                }
            }

        return { labels: aggregatedLabels, data: aggregatedData };
        }

    // Generische Funktion für die Erstellung von Charts
    function createChart(chartId, label, labels, data, borderColor) {
        new Chart(document.getElementById(chartId), {
            type: 'line',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: label,
                        data: data,
                        fill: false,
                        borderColor: borderColor,
                        tension: 0.1
                    }
                ]
            }
        });
    }
//---------------------------------Hilfsfunktionen Ende--------------------------------------------

    // Daten filtern und aggregieren
    const filteredData = filterDataForDayAndNight(measurementDataHist);

    // Kartenfarben aktualisieren
    document.querySelector('.temperature-card').classList.add(
        setCardColor(measurementDataNow['Temp'], generalData['tem_min'], generalData['tem_max'])
    );
    document.querySelector('.humidity-card').classList.add(
        setCardColor(measurementDataNow['air'], generalData['air_min'], generalData['air_max'])
    );
    document.querySelector('.moisture-card').classList.add(
        setCardColor(measurementDataNow['ground'], generalData['moisture_min'], generalData['moisture_max'])
    );
    document.querySelector('.sun-card').classList.add(
        setCardColor(measurementDataNow['sun'], generalData['sunInt_min'], generalData['sunInt_max'])
    );

    // Event-Listener für manuellen Button
    document.getElementById('manualWaterButton').addEventListener('click', () => {
        console.log('Manuelles Bewässern gestartet');
        socket.emit('manual_water', { mac: generalData['mac'] });
    });

    
    // Daten für Charts extrahieren
    const temperatureChartData = filteredData.data.map(item => item.Temp);
    const airHumidityChartData = filteredData.data.map(item => item.air);
    const groundMoistureChartData = filteredData.data.map(item => item.ground);
    const sunChartData = filteredData.data.map(item => item.sun);

    // Charts erstellen
    createChart('temperatureChart', 'Umgebungstemperatur (°C)', filteredData.labels, temperatureChartData, 'rgb(255, 99, 132)');
    createChart('humidityChart', 'Luftfeuchtigkeit (%)', filteredData.labels, airHumidityChartData, 'rgb(54, 162, 235)');
    createChart('moistureChart', 'Bodenfeuchtigkeit (%)', filteredData.labels, groundMoistureChartData, 'rgb(75, 192, 192)');
    createChart('sunItensityChart', 'Sonnenintensität (%)', filteredData.labels, sunChartData, 'rgb(255, 255, 0)');

    // Debugging-Logs
    console.log("MeasurementDataHist:", measurementDataHist);
    console.log("Filtered Data:", filteredData);
</script>
 
<script>
    // Verbindung zu SocketIO aufbauen
    const socket = io('http://127.0.0.1:5000');
      // Überprüfen der SocketIO-Verbindung
    socket.on('connect', () => {
        console.log('Verbunden mit dem SocketIO-Server'); // Verbindung bestätigen
    });
    
    //hört auf Reload Ereignis ("reload_page")
    socket.on('reload_page', (data) => {
        console.log('Reload-Seitenereignis empfangen:', data); // Überprüfe, ob die Nachricht empfangen wird
        location.reload(); //Seite neu laden
    });
 
</script>
<script>
    //Hilfsfunktion zum Generieren des QR-Codes
    function generator () {
        var url = "{{ url | safe }}"; //Übergebene Url-Parameter unverändert laden
        const qrCodeOutput = document.getElementById('qrCodeContainer');
        var outputElementWidth = qrCodeOutput.offsetWidth; //Größe des qr-Codeelements ermitteln
        outputElementWidth = outputElementWidth +100 ; //Größe anpassen
        //qrCodeOutput.innerHTML = " ";  // letzten QR-Code resetten
         
        //neuen QR-Code erstellen
        new QRCode(qrCodeOutput, {
            text: url,
            width: outputElementWidth,
            height: outputElementWidth,
            colorDark: '#000',
            colorLight: '#fff'
        });
    }

    //QR-Code mit Link zur Detail-Webseite erstellen, sobald die Seite geladen ist
    document.addEventListener("DOMContentLoaded", function() {
        generator();
    });

</script>
{% endblock %}