{% extends "default.html" %}

{% block header %}
    <title>Meine Pflanzen</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/overview.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="my-4">Pflanzenübersicht</h1>

    <div class="row">
        {% for i in plants %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card plant h-100" onclick="window.location.href='/details/{{ i.mac }}'">
                    <div class="card-body">
                        <!-- Plant image section -->
                        <div class="product-img text-center">
                            <img src="{{ url_for('static', filename='images/' + i.mac + '.png') }}" alt="Pflanzenbild" class="img-fluid rounded plant-img">
                        </div>
                        <!-- Plant details -->
                        <h5 class="card-title mt-3">{{ i.name }}</h5>
                        <p class="card-text">Standort: {{ i.place }}</p>
                        {% set temp_warning = i.currMeasData.Temp < i.tem_min * 0.9 or i.currMeasData.Temp > i.tem_max * 1.1 %}
                        {% set temp_attention = (i.tem_min * 0.9 <= i.currMeasData.Temp < i.tem_min) or (i.tem_max < i.currMeasData.Temp <= i.tem_max * 1.1) %}

                        {% set air_warning = i.currMeasData.air < i.air_min * 0.9 or i.currMeasData.air > i.air_max * 1.1 %}
                        {% set air_attention = (i.air_min * 0.9 <= i.currMeasData.air < i.air_min) or (i.air_max < i.currMeasData.air <= i.air_max * 1.1) %}

                        {% set ground_warning = i.currMeasData.ground < i.moisture_min * 0.9 or i.currMeasData.ground > i.moisture_max * 1.1 %}
                        {% set ground_attention = (i.moisture_min * 0.9 <= i.currMeasData.ground < i.moisture_min) or (i.moisture_max < i.currMeasData.ground <= i.moisture_max * 1.1) %}

                        {% set sun_warning = i.currMeasData.sun < i.sunInt_min * 0.9 or i.currMeasData.sun > i.sunInt_max * 1.1 %}
                        {% set sun_attention = (i.sunInt_min * 0.9 <= i.currMeasData.sun < i.sunInt_min) or (i.sunInt_max < i.currMeasData.sun <= i.sunInt_max * 1.1) %}

                        {% if temp_warning or air_warning or ground_warning or sun_warning %}
                            <p class="text-danger font-weight-bold">Status: Warnung</p>
                        {% elif temp_attention or air_attention or ground_attention or sun_attention %}
                            <p class="text-warning font-weight-bold">Status: Achtung</p>
                        {% else %}
                            <p class="text-success font-weight-bold">Status: in Ordnung</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="my-4">
        <a href="{{ url_for('pflanze_hinzufuegen') }}" class="btn btn-primary">Neue Pflanze hinzufügen</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
